*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    color:white;
    height:100vh;
}
.container{
    margin-top:60px;
    background-color:black;
    height:120vh;
    width:100%;
    display:grid;
    grid-template-columns:100px 1fr;
    grid-template-rows:1fr 60px ; 
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
background-color:white;
grid-column: 1/-1;
position:fixed;
top:0;
color:#071010;

}
nav{
background-color: #071010;
grid-column:1/2;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
overflow-y: auto;

}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
background-color:#102626;
grid-column:2/3;
}
footer{
background-color:aliceblue;
color:darkviolet;
grid-column:1/-1;
display: flex;
justify-content: center;
align-items: center;
}
ul{
    display:flex;
    margin-right:80px;
}
ul li{
    margin:20px;
    list-style: none;
    transition: 0.4s;
}
ul li a{
    text-decoration: none;
    font-size:20px;
    cursor:pointer;
}
ul li:hover{
   color:brown;
}
.logo{
    font-size:20px;
    margin-left:80px;
}
h1{
    font-size:40px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height:40%;
}
.w-text{
    font-size:60px;
    color:red;
}
.input-text{
    width:35em;
    padding:20px;
    border-radius: 7px;
    outline:none;
    border:none;
    transition: 0.3s;
}
.input-text:focus{
    box-shadow: 0 1px 3px darkviolet;
}
.button-send{
    color:white;
background-color:brown;
width:22em;
padding:15px;
cursor:pointer;
border-radius: 8px;;
border:none;
transition:0.3s;
}
.button-send:hover{
background-color:red;
}
.Languages2{
    display: flex;
flex-direction: column;
justify-content:center;
align-items: center;
}
.container a{
    transition:0.5s;
    cursor:pointer;
}
.container a:hover{
    color:brown;
       transform: scale(1.1);
}